html {
  font-size: 14px;
  color: #272727;
  background: #fff;
  font-family: 'SegoeUI', sans-serif;
}
body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
a {
  color: #272727;
  text-decoration: none;
}
a:hover {
  color: #171717;
  text-decoration: none;
}
a:focus {
  color: #272727;
  text-decoration: none;
}
html,
body,
#root {
  height: 100%;
}
@font-face {
  font-family: SegoeUI;
  font-style: normal;
  src: url(/fonts/6581cfaeee8057734a3f16d37719bfb2.ttf);
}
.application {
  min-height: 100%;
  background-color: #ececec;
}
.application__body {
  max-width: 1600px;
  width: 80%;
  margin: 0 auto;
}
