.multiple-answer-card {
  box-shadow: 2px 3px 5px 1px rgba(0,0,0,0.24);
  background-color: #fff;
  border-radius: 2px;
}
.multiple-answer-card__content {
  padding: 65px;
}
.multiple-answer-card__text {
  font-size: 1.42rem;
  padding: 0 10px;
  color: rgba(0,0,0,0.87);
}
.multiple-answer-card__button-control {
  text-align: center;
  padding-top: 36px;
}
.multiple-answer-card__options {
  padding-top: 30px;
}
html {
  font-size: 14px;
  color: #272727;
  background: #fff;
  font-family: 'SegoeUI', sans-serif;
}
body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #272727;
  text-decoration: none;
}
a:hover {
  color: #171717;
  text-decoration: none;
}
a:focus {
  color: #272727;
  text-decoration: none;
}
html,
body,
#root {
  height: 100%;
}
@font-face {
  font-family: SegoeUI;
  font-style: normal;
  src: url(/fonts/6581cfaeee8057734a3f16d37719bfb2.ttf);
  src: url(/fonts/3b1b8cc3b81b5496bb98a1102dbcea2d.eot);
  src: url(/fonts/890e7212643c25ad929d75fdc18e293c.woff);
}
.application {
  min-height: 100%;
  background-color: #dedede;
}
.application__body {
  max-width: 1600px;
  width: 80%;
  margin: 0 auto;
}
